---
const testimonials = [
  {
    image: "https://randomuser.me/api/portraits/men/32.jpg",
    name: "Daniel Carter",
    Company: "Marketing Manager, BrightWave Solutions",
    review:
      "Gifterra exceeded our expectations. The gift box looked elegant, arrived on time, and left a lasting impression on our client. The attention to detail and premium packaging truly set them apart."
  },
  {
    image: "https://randomuser.me/api/portraits/women/44.jpg",
    name: "Emily Thompson",
    Company: "HR Director, StellarTech Inc.",
    review:
      "We ordered personalized gift hampers for our employee appreciation event, and everyone loved them. The quality, presentation, and customization were exceptional. Gifterra made the entire process effortless."
  },
  {
    image: "https://randomuser.me/api/portraits/women/68.jpg",
    name: "Sophia Williams",
    Company: "CEO, GreenLeaf Enterprises",
    review:
      "Finding thoughtful corporate gifts used to be challenging until we discovered Gifterra. Every gift was beautifully curated, professionally packaged, and delivered exactly as promised. We'll definitely be ordering again."
  }
];

---

<section class="bg-gray-100 py-16">
    <div class="max-w-7xl mx-auto px-5 ">
        <!-- Heading -->
        <h1 class="text-4xl font-semibold text-center text-[#018692] mb-20">What Our Customers Say</h1>
            
        <div class="container mx-auto px-5">
            <!-- Cards -->
            <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
                {testimonials.map((item) => (
                    <div class="relative rounded-lg bg-white px-8 pt-22 pb-12 text-center shadow-sm">
                        <!-- Avatar -->
                        <div class="absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2">
                            <div class="flex h-30 w-30 items-center justify-center rounded-full bg-white shadow-md">
                            <img
                                src={item.image}
                                alt={item.name}
                                class="h-25 w-25 rounded-full object-cover"
                            />
                            </div>
                        </div>

                        <!-- Review -->
                        <p class="text-md leading-7 text-cyan-600">
                            "{item.review}"
                        </p>

                        <!-- Name -->
                        <h3 class="mt-6 text-xl font-semibold text-cyan-700">
                            - {item.name}
                            - <div class="text-sm font-bold text-cyan-700">{item.Company}</div>
                        </h3>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>